<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="icon" type="image/png" href="../public/favicon.png" sizes="16x16 32x32 48x48">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
        main {
            text-align: center;
        }
    </style>
</head>
<body>
    <header id="header">
        <figure class="icono-grupo"><img src="../public/tienda-de-circo.png" alt="icono-grupo"></figure>
        <button id="abrir" class="abrir-menu"><i class="bi bi-list"></i></button>
        <nav class="nav" id="nav">
          <button class="cerrar-menu" id="cerrar"><i class="bi bi-x"></i></button>
          <ul class="nav-list">
           <li><a href="index.html">Home</a></li>
            <li><a href="nuestroartistas.html">Artistas</a></li>
            <li><a href="ciudadesyfechas.html">Reserva</a></li>
            <li><a href="Nosotros.html">Nosotros</a></li>
            <li><a href="contacto.html">Contacto</a></li>
            <li><a href="preguntas.html" class="active-page">FAQ</a></li>
            
          </ul>
        </nav>
    </header>
    <main id="PregFrec">

        <div class="faq-container">
            <h1 class="faq-title">Preguntas Frecuentes</h1>
        
            <div class="faq-item">
                <button class="faq-button">¿Dónde se encuentra el circo?</button>
                <div class="faq-answer">
                    <p>Nuestro circo está ubicado en "", pero también nos trasladamos a diferentes ciudades de Argentina. Consultá nuestra sección de Ciudades y Fechas para conocerlas.</p>
                </div>
            </div>
        
            <div class="faq-item">
                <button class="faq-button">¿Cómo puedo comprar entradas?</button>
                <div class="faq-answer">
                    <p>Las entradas se pueden comprar desde nuestra página web o en los puntos de venta autorizados de Buenos Aires. También se podrán adquirirlas en el lugar del evento, dependiendo de la disponibilidad.</p>
                </div>
            </div>
        
            <div class="faq-item">
                <button class="faq-button">¿Cuál es el costo de las entradas?</button>
                <div class="faq-answer">
                    <p>Los precios varían según la ubicación del asiento y la función. Revisa nuestra sección Compra de Localidades para ver las tarifas actualizadas y descuentos especiales.</p>
                </div>
            </div>
        
            <div class="faq-item">
                <button class="faq-button">¿Hay descuentos o promociones?</button>
                <div class="faq-answer">
                    <p>Sí, ofrecemos descuentos especiales para grupos, estudiantes y para quienes compren las entradas con antelación. También organizamos promociones a través de nuestras redes sociales. ¡Síguenos para estar al tanto de todas las ofertas!</p>
                </div>
            </div>
        
            <div class="faq-item">
                <button class="faq-button">¿Es apto para niños?</button>
                <div class="faq-answer">
                    <p>Sí, nuestras funciones son aptas para toda la familia. Contamos con espectáculos diseñados para entretener tanto a grandes como a chicos. ¡Los más chicos disfrutarán de un show lleno de magia y diversión!</p>
                </div>
            </div>
        
            <div class="faq-item">
                <button class="faq-button">¿El show tiene servicios accesibles para personas con discapacidad?</button>
                <div class="faq-answer">
                    <p>Sí, ofrecemos acceso para personas con movilidad reducida y contamos con asientos reservados para ellas. Además, en caso de necesitar algún tipo de asistencia especial, por favor, comunícalo con anticipación para poder atenderte adecuadamente.</p>
                </div>
            </div>
        
            <div class="faq-item">
                <button class="faq-button">¿Cuánto dura el espectáculo?</button>
                <div class="faq-answer">
                    <p>El espectáculo tiene una duración aproximada de 3 horas, con un pequeño descanso intermedio. ¡Prepárate para disfrutar de una experiencia única e inolvidable!</p>
                </div>
            </div>
        
            <div class="faq-item">
                <button class="faq-button">¿Cómo puedo trabajar en el circo?</button>
                <div class="faq-answer">
                    <p>Si eres artista, técnico o parte de un equipo de producción, puedes enviar tu CV y portafolio a través de nuestro formulario de contacto en la web. Si tienes un talento especial, ¡queremos saber de ti!</p>
                </div>
            </div>
        
            <div class="faq-item">
                <button class="faq-button">¿Puedo hacer una fiesta o evento privado en el circo?</button>
                <div class="faq-answer">
                    <p>¡Claro! Ofrecemos la posibilidad de alquilar nuestras instalaciones para eventos privados, como cumpleaños, celebraciones empresariales o cualquier ocasión especial. Contáctanos para más detalles y precios.</p>
                </div>
            </div>
        
            <div class="faq-item">
                <button class="faq-button">¿El circo realiza funciones durante todo el año?</button>
                <div class="faq-answer">
                    <p>Sí, realizamos funciones durante todo el año, pero las fechas y horarios pueden variar dependiendo de la temporada. Te recomendamos consultar nuestra sección de "Ciudades y Fechas" para saber cuándo estaremos cerca de ti.</p>
                </div>
            </div>
        
            <div class="faq-item">
                <button class="faq-button">¿Qué debo hacer si tengo una consulta o problema con mi entrada?</button>
                <div class="faq-answer">
                    <p>Si tienes alguna duda o inconveniente con tus entradas, comunícate con nuestro equipo de atención al cliente a través de [correo electrónico] o [teléfono]. Estaremos encantados de ayudarte.</p>
                </div>
            </div>
        </div>
        
        


    </main>

    <footer>
        <div class="divfooter">
            <div>Integrantes: Fernandez Alan, Mendieta Juan, Palacios Imanol</div>
            <div><a style="color: #352f3d" target="_blank" href="https://alanjferprog.github.io/Primer-Parcial-Web/inicio.html"> Nuestra Página</a></div>
            <div>Diseño y Desarrollo Web, Primer año.</div>
            <div>Grupo 3</div>
            <div>"Todos los derechos reservados - Sitio desarrollado para uso educativo - 2024"</div>
            <figure><img src="../public/logo-uade.png" alt=""></figure>
        </div>
    </footer>
    <script src="../main.js"></script>
    <script src="../jquery.js"></script>

</body>
</html>
